<div class="final-container">
    {{!-- <div class="input-search">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="search-area">
            <button 
        </div>
    </div> --}}
    <div class="follow-container">
        <h1>Who to follow</h1>
        <div1 class="who-follow">
            <img src="./pics/who 1.png">
            <div class="author">
                <div class="nameAuthor">
                    Ratan N.Tata
                </div>
                <div class="author-profile">
                    @RNTata2000
                </div>
            </div>
            <div class="follow" style="display: flex; justify-contents:flex-end">
                <div class="follow-btn">
                    Follow
                </div>
            </div>
        </div1>
        <div class="who-follow">
            <img src="./pics/who 2.png">
            <div class="author">
                <div class="nameAuthor">
                    Melissa and Chris Bruntlett
                </div>
                <div class="author-profile">
                    @modacitylife
                </div>
            </div>
            <div class="follow-btn">
                Follow
            </div>
        </div>
        <div class="who-follow">
            <img src="./pics/who 3.png">
            <div class="author">
                <div class="nameAuthor">
                    Scott Gottlieb, MD
                </div>
                <div class="author-profile">
                @ScottGottliebMD
                </div>
            </div>
            <div class="follow-btn">
                Follow
            </div>
        </div>
    </div>
</div>